/* styles.css */

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #002828;
    color: #f2f2f2;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: #000808;
    padding: 40px;
    position: fixed;
    margin-bottom: 20px;
    top: 0;
    width: 100%;
}

footer {
    text-align: center;
    background-color: #000808;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #f2f2f2;
}

nav ul li a:hover {
    color: #c0c0c0;
}

/* -- main content -- */

.main-content {
    background-color: #001818;
    color: #f2f2f2;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
}

.hero {
    background-color: #002020;
    color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    background-color: rgb(0, 200, 200);
    color: #f2f2f2;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: rgb(0, 125, 125);
}
